/* Customized Navbar */
html {
  overflow-x: hidden;
}
body {
  color: #2a2a2b;
  background-color: #000000;
  margin:0;
  padding:0;
}

/*.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/*.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}

.bg {
	position: fixed;
	width: 100%;
	height: 900px;
	top: 0;
	left: 0;
	z-index: -1; 
}*/

.navbar-header {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.active {
  padding-bottom: 51px !important;
  box-shadow: none !important;
  border-radius: 3px 3px 0 0 !important;
}

#alerts .col-sm-10.col-sm-offset-1 {
  height: 12em;
  background-color: #d3a296;
  border-radius: 3px;
}

#alerts .col-sm-6 {
  background-color: #a8452d;
  border-radius: 20px;
  border: 2px solid #D41919;
  height: 7em;
}

#alerts .col-sm-1{
  margin-top: 4em;  
}

p.thick {
  font-weight: bold;
}

#alertsdiv li {
  margin-top: 2em;
}

#alertsdiv {
  margin-top: 10em;
}

.navbar .bar {
  margin-top: -0.75em;
  height: 1em;
  background-color: #d5853c;
  box-shadow: 0px 5px #c37235;
}

.text-center {
  text-align: center;
}

.navbar {
  height: 10em;
}

#metric-nav ul .btn-default {
  /*background-color: #6E7B8B;*/
  border: none;
  width: 100%;
  height: 50px;
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  line-height: -20px;
  box-shadow: 0px 3px #BDBDBD;
}

.navbar {
  box-shadow: 0 0 15px #fff;
  padding-top: 0.3em;
  background-color: #e9e2dd
}

#metric-nav {
  margin-top: 15em;
}

.row .nav {
  height: 13em;
}

.row .nav .col-sm-2 {
  height: 10em;
}

.row .nav .col-sm-2 a {
  padding: 40px 10px;
  margin-top: 5px;
  background-color: #6E7B8B;
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  box-shadow: 0px 5px #506987;

}


.row .nav a:hover {
  background-color: #A2B5CD;
}

.w75 {
  width: 75%;
}

.border-r {
  border-radius: 4px;
  height: 50px;
}

.btn-spacing {
  margin-top: 1em;
  line-height: 35px;
}


#graph-container1 {
  /*margin-top: 1em;*/
  margin-left: 10px;
  float: left;
  min-height: 650px;
  min-width: 450px;
  max-width: 450px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#graph-container2 {
  /*margin-top: 1em;*/
  margin-left: 10px;
  float: left;
  min-height: 650px;
  min-width: 920px;
  max-width: 920px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 9px 9px 20px #000000;
  border-width: 3px;
  background-color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#graph-container3 {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 10px;
  float: left;
  min-height: 400px;
  min-width: 570px;
  max-width: 570px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#graph-container4 {
  /*margin-top: 1em;*/
  color: #FFFFFF;
  margin-bottom: 2em;
  margin-left: 10px;
  float: left;
  min-height: 650px;
  min-width: 450px;
  max-width: 450px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 9px 9px 20px #000000;
  border-width: 3px;
  background-color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#graph-container5 {
  /*margin:0;*/
  padding:0;
}

#graph-container6 {
  /*margin:0;*/
  padding:0;
}

#graph-container7 {
  /*margin:0;*/
  padding:0;
}

#graph-container8 {
  /*margin:0;*/
  padding:0;
}

.navlist {
list-style-type: none;
margin-left:0px;
padding-left:0px;
display: inline-block;
}

.navlist img
{
  height: 40px;
  width: 40px;
float:left;
}

 h5 {
text-align: right; 
display:inline-block;
padding: 0;
font-size: 1.0em; 
font-family:'UNICA ONE', sans-serif; 
font-weight: bold;
}

.column .container {
  float:left;
  margin:5px;
  min-width:100px;
  height:450px;
  box-shadow: 9px 9px 20px #000000;
  background:#303030;  
}
  .column .container.span1 {
    width:calc(25% - 10px); 
    background:#303030;
  }
  .column .container.span2 {
    width:calc(50% - 10px); 
    background:#303030;
  }
  .column .container.span3 {
    width:calc(75% - 10px); 
    background:#303030;
  }
  .column .container.span4 {
    width:calc(100% - 10px);
    background:#303030;  
  }
  .band{
    float:left;
    margin:5px;
    width:calc(100% - 10px);
    height:50px;
    background:#f45b5b;  
    text-align: left;
    line-height: 50px;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 9px 9px 20px #000000;
  }
  
  #topscorer{
  max-height: 215px;
  min-height: 215px;
  display:block;
  height: 100%;
  overflow: auto;
  }

#bargraph3d {
  height: 400px; 
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}

#profileinfo-container {
  margin-top: 0px;
  min-height: 250px;
  /*max-width: 500px;*/
  border-style: solid;
  border-color: #62B1F6;
  border-width: 1px;
  background-color: #F0F8FF;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #F8F8F8;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

body {
   /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;*/
   background-color: #2a2a2b;
   font-family: Arial;
}


.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .active{
  display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

