{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="http://code.highcharts.com/highcharts-3d.js"></script> -->
<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<!-- <script src="http://code.highcharts.com/highcharts-more.js"></script> -->
<!-- <script src="http://code.highcharts.com/modules/solid-gauge.js"></script> -->
<script src="{% static 'dashboard/js/highcharts-3d.js' %}"></script>
<script src="{% static 'dashboard/js/highcharts-more.js' %}"></script>
<script src="{% static 'dashboard/js/highcharts-solidgauge.js' %}"></script>
<script src="{% static 'dashboard/js/page2_graph1.js' %}"></script>
<script src="{% static 'dashboard/js/page2_graph2.js' %}"></script>
<script src="{% static 'dashboard/js/page2_graph3.js' %}"></script>
<!-- <script src="{% static 'dashboard/js/page2_graph4.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/graph5.js' %}"></script> -->
<script src="{% static 'dashboard/js/piecopy.js' %}"></script>
<script src="{% static 'dashboard/js/newgauge.js' %}"></script>
<!-- <script src="{% static 'dashboard/js/donut.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/energyconsumptionInst.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/energyconsumptionDefault.js' %}"></script> -->
<script src="{% static 'dashboard/js/liveDataEnergyCons.js' %}"></script>
<script src="{% static 'dashboard/js/liveDataEnergyConToday.js' %}"></script>
<script src="{% static 'dashboard/js/energyconsumptionWeek.js' %}"></script>
<script src="{% static 'dashboard/js/energyconsumptionAll.js' %}"></script>
<script src="{% static 'dashboard/js/costbar1.js' %}"></script>
<script src="{% static 'dashboard/js/costbar2.js' %}"></script>
<script src="{% static 'dashboard/js/costbar1copy.js' %}"></script>
<script src="{% static 'dashboard/js/areachart.js' %}"></script>
<!-- <script src="{% static 'dashboard/js/bargraph1.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/bargraph2.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/bargraph3.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/bargraphcopy.js' %}"></script> -->

<script type="text/javascript">
$(function(){
    $("#buildingconsumptiondiv").hide();
});
$( document ).ready(function() {
    $('#buildingconsbutton').on('click', function(){
        $("#feedbackdiv").hide();
        $("#buildingconsumptiondiv").show();
    });
    $('#feedbackbutton').on('click', function(){
        $("#buildingconsumptiondiv").hide();
        $("#feedbackdiv").show();
    });
   $('#myForm input').on('change', function() { 
   var value = $('input[name="myRadio"]:checked', '#myForm').val(); 
   var now = new Date();
   var date = [ now.getMonth() + 1, now.getDate(), now.getFullYear() ];
   var time = [ now.getHours(), now.getMinutes(), now.getSeconds() ];
   var suffix = ( time[0] < 12 ) ? "AM" : "PM";
   time[0] = ( time[0] < 12 ) ? time[0] : time[0] - 12;
   time[0] = time[0] || 12;
   for ( var i = 1; i < 3; i++ ) {
    if ( time[i] < 10 ) {
      time[i] = "0" + time[i];
    }
  }
   var timestamp = date.join("/") + " " + time.join(":") + " " + suffix;
   var txt = $("<h3></h3>").text("USER12: " + value);
   var txt2 = $("<p></p>").text("Timestamp: " + timestamp);
    $("#feedbackcontainer").append(txt, txt2, "<hr>");
    $("#feedbackcontainer h3").css({'text-align': 'center', "position": "relative", "font-family": "CENTURY GOTHIC, sans-serif", "font-size": '1.2em', "color": 'cyan', 'top':'0'});
    $("#feedbackcontainer p").css({'text-align': 'center', 'position': 'relative', 'font-family': 'CENTURY GOTHIC, sans-serif', 'color': '#aaa', 'top':'7px'});
    $('#feedbackcontainer').animate({"scrollTop": $('#feedbackcontainer')[0].scrollHeight}, "fast");
});});
</script>

<div style="padding-top: 1em; padding-bottom: 1em;">

</div>
<div class="column">
    <div class="band">
    	<p style="padding-left: 0.7em; font-size: 1.5em; font-family:'CENTURY GOTHIC', sans-serif; font-weight: bold;">USER12,  BAND: RED (HIGH USAGE)<span style="display:block; float:right; width:21.3em; ">TODAY'S SCORE: 690, OVERALL SCORE: 700</span></p>
    </div>
</div>
<div class="column">
    
    <!-- <div class="container span2" style="overflow: auto;"> -->
        <!-- <div class="container span1" id="graph-container6"></div> -->

        <!-- <div class="container span1" style="background-color:#303030; padding-left:1em; color: #ffffff; line-height: 550px; height: 550px; text-align: center;"> -->
           <!--  <h4 style="text-align: center; font-size: 4em; font-family:'UNICA ONE', sans-serif; font-weight: bold;">PERFORMANCE (TODAY)</h4>
            <h4> <br> <br></h4>
            <h3 style="font-family:'UNICA ONE', sans-serif; font-size: 1.9em;font-weight: bold;">ENERGY CONSUMPTION: 0.55 <span style="font-size: 0.55em; font-family:'UNICA ONE', sans-serif;"> KWH</span></h3>
            <!-<h3 style="font-family:'UNICA ONE', sans-serif; font-size: 2.8em;font-weight: bold;">Cummulative: 10.4 <span style="font-size: 0.55em; font-family:'UNICA ONE', sans-serif;"> kwh</span></h3>
            <h3 style="font-family:'UNICA ONE', sans-serif; font-size: 1.9em;font-weight: bold;">BASELINE CONSUMPTION: 0.6 <span style="font-size: 0.55em; font-family:'UNICA ONE', sans-serif;"> KWH</span></h3>
            <h3 style="font-family:'UNICA ONE', sans-serif; font-size: 1.9em; font-weight: bold;">MONETARY SAVINGS: $4 </h3>
            <h3 style="font-size: 1.9em; font-family:'UNICA ONE', sans-serif; font-weight: bold;"><br><br>CHANGE IN ENERGY USAGE: +10.6% </h3>
            <h3 style="font-size: 1.9em; font-family:'UNICA ONE', sans-serif; font-weight: bold;">CHANGE IN SAVINGS: -10.2%</h3>
            <!- <img src="{% static 'dashboard/images/tango_go_up.png' %}" alt='My image'/> --> 
        <div class="container span1" >  
              
            <div class="container span5" id = "feedbackdiv"> 
                <div class="box effect7" id="feedbackcontainer">
                    <h3 style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; font-size: 1.2em; color:cyan; top:10px;">USER19: Just right </h3> 
                    <p style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; color: #aaa; top:7px;">Timestamp: 4/7/2015 10:56:30 AM</p>
                    <hr>
                    <h3 style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; font-size: 1.2em; color:cyan; top:10px;">USER42: Cold </h3> 
                    <p style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; color: #aaa; top:7px;">Timestamp: 4/7/2015 10:57:40 AM</p>
                    <hr>
                    <h3 style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; font-size: 1.2em; color:cyan; top:10px;">USER27: Just right </h3> 
                    <p style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; color: #aaa; top:7px;">Timestamp: 4/7/2015 10:58:38 AM</p>
                    <hr>
                    <h3 style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; font-size: 1.2em; color:cyan; top:10px;">USER38: Hot </h3> 
                    <p style="text-align:center; position:relative; font-family:'CENTURY GOTHIC', sans-serif; color: #aaa; top:7px;">Timestamp: 4/7/2015 10:59:10 AM</p>
                    <hr>
                </div>

                <form id="myForm" style="color:#7FFF00; margin: 0; padding:0px; font-size: 1.2em; font-family:'CENTURY GOTHIC', sans-serif;">
                    <br>How do you feel? <br>
                    <input type="radio" name="myRadio" value="Hot" /> Hot
                    <input type="radio" name="myRadio" value="Just right" /> Just right 
                    <input type="radio" name="myRadio" value="Cold" /> Cold
                </form>
            <!-- </div> -->
            </div>
            <!-- <div class="btn-group" style="font-family: 'Century Gothic';"> -->

        

        <div class="container span5" id = "buildingconsumptiondiv"> 
        <div style="padding-top:1em;" id="graph-container10"> </div>
            <div class="container span1" style="padding-left:0em; color: cyan; max-height:120px; width:260px; text-align: center; box-shadow: 0px 0px 0px #000000;"> 
                <h5 style="font-family:'CENTURY GOTHIC', sans-serif; font-size: 1.0em;">SOLAR: 10,000 KW <br>FUEL CELLS: 10,000 KW <br> BUILDING LOAD: 10,000 KW </h5>
            </div>  
        
        </div>
        <div class="btn-group pull-right" style="margin-top:47px; padding-right:30px; font-family: 'Century Gothic';">
            <button type="button" class="btn btn-default" style="background: #ffffff; font-weight: bold;" id="feedbackbutton">Feedback </button>
            <button type="button" class="btn btn-default" style="background: #ffffff; font-weight: bold;" id="buildingconsbutton">Building Stats</button>
        </div>
        </div>
    <div class="container span2" id="graph-container5"></div>
    <div class="container span1" style="overflow: auto;"> <br>
        <p style="font-size: 1.5em; font-family:'CENTURY GOTHIC', sans-serif; color:#aaa;">TOP SCORES THIS WEEK <br>  <sup style="font-family:'CENTURY GOTHIC', sans-serif; color:#7FFF00; font-size: 0.66em;">**This week's prize: Free Parking!</sup></p>
        <table class="table" style="color:#00FFFF; font-size: 1em; font-family:'CENTURY GOTHIC', sans-serif; border-color:#C4C4C4;overflow: auto;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>User15</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>User46</td>
                    <td>990</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>User29</td>
                    <td>980</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>User45</td>
                    <td>970</td>
                </tr>
            </tbody>
        </table>
        <p style="font-size: 1.5em; font-family:'CENTURY GOTHIC', sans-serif; color:#aaa;">TOP SCORES TODAY</p>
        <table class="table" style="color:#00FFFF; font-family:'CENTURY GOTHIC', sans-serif; border-color:#C4C4C4;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>User25</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>User56</td>
                    <td>990</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>User39</td>
                    <td>980</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>User45</td>
                    <td>970</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<div class="column">
    
    <div class="container span2" style="height:450px;"> 
        <div style="padding-top:0.5em;" id="graph-container7"></div>
        <div class="btn-group pull-right" id="timeperiod" style="font-family: 'Century Gothic';">
            <button type="button" class="btn btn-default" style="background: #ffffff; font-weight: bold;" id="onedaykwh">Today </button>
            <button type="button" class="btn btn-default" style="background: #ffffff; font-weight: bold;" id="oneweekkwh">Last Week </button>
            <button type="button" class="btn btn-default" style="background: #ffffff; font-weight: bold;" id="allkwh">All </button>
        </div>
        
    </div>
   <div class="container span2" style="height:450px;" id="graph-container8"> </div>

</div>


{% endblock %}