<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
   <title>
   {% block title %} 
   Dashboard Application
   {% endblock %}
   </title>

   {% load staticfiles %}
  
   {% block js %} 
   <script src="{% static 'dashboard/js/jquery-1.9.1.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'dashboard/css/result-light.css' %}">
 <script src="{% static 'dashboard/js/highcharts.js' %}"></script>
  <script src="{% static 'dashboard/js/exporting.js' %}"></script>

  <script src="{% static 'dashboard/js/dark_theme.js' %}"></script>
  

   {% endblock %}
{% block stylesheets %}
<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/navbar.css' %}" rel="stylesheet">




<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

{% endblock %}
<style> 
@font-face {
   font-family: 'myRepublica';
   src: url(http://localhost:8000/dashboard/static/dashboard/css/REPUBLK_.tff);
}

div {
   font-family: 'myRepublica';
}
</style>
  </head>
    <body style="background: white url('http://localhost:8000/dashboard/static/dashboard/images/black-brushed-metal.jpg') repeat;">
    <!-- <body style="background: url('http://www.psdgraphics.com/file/black-brushed-metal.jpg')"> -->
    <!-- <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="min-height: 190px;">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav">      
      <li class="col-sm-2 col-sm-offset-1 text-center"><a href="{% url 'page2' %}"><h1>Page1</h1></a></li>
      <li id="alerts" class="col-sm-2  text-center"><a href="{% url 'page1' %}"><h1>Page2</h1></a></li>
      <li id="metrics" class="col-sm-2 text-center"><a href="#"><h1>Page3</h1></a></li>   
      <li id="placeholder1" class="col-sm-2 text-center"><a href="#"><h1>Page4</h1></a></li>
      <li id="mysettings" class="col-sm-2 text-center"><a href="#"><h1>Page5</h1></a></li>

      </ul>
    </div>
    <div class="row bar" style="background-color: #6E7B8B; box-shadow: 0px 5px #506987;">
    </div>
  </div>
</div> -->




   {% block subtitle%} {% endblock %}

  <div style="width: 1300px; height: 1150px; margin: 0 auto;">
   <!-- <div class="col col-md-12" id="profile-container" > -->
    {% block content %}{% endblock %}
   <!-- </div>  -->
   
   </div>

  </body>
</html>
